[Unit]
Description=8723ds Bluetooth hciattach
Documentation=man:bluetoothd(8)
ConditionPathExists=/dev/ttyS2
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStartPre=/sbin/bt_reset
ExecStart=/sbin/rtk_hciattach -n -s 115200 /dev/ttyS2 rtk_h5

[Install]
WantedBy=bluetooth.target
